.inputGroup {
  display: grid;
  gap: 10px;
}
.wrapped {
  grid-template-rows: auto 1fr;
}
.inputGroup:not(.checkbox):not(.radio) .inputContainer {
  border: 2px solid var(--accentColor);
  border-radius: 10px;
}
.inputContainer input,
.inputContainer select {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  display: block;
  width: 100%;
  padding: 10px 18px;
}
.inputGroup label {
  font-weight: 600;
}
.error {
  margin: 0;
}
