.window {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  max-height: 1000px;
  height: 100%;
  padding: 15px 0;
}
.windowMain {
  border-image: var(--accentBorder);
  background: url("/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 20px 20px 20px;
  padding: 30px;
}
.mainOuter {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.mainInner {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  padding-right: 30px;
}
