.button {
  border: 1px solid #000;
  background: #000;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 30px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  transition: background 0.2s ease-in-out;
  font-size: 1.25rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.button.outline {
  color: #000;
}
.button.outline:not(:hover) {
  background: transparent !important;
}
.button.outline:hover {
  color: #fff !important;
}
.button:disabled {
  opacity: 0.2;
}
