.pillTabs {
  margin-bottom: 30px;
}
.pillTabs .list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 50px;
  border: 2px solid var(--accentColor);
  overflow: hidden;
  position: relative;
}
.pillTabs .list li {
  flex: 1;
}
.pillTabs button {
  font-size: 1.1rem;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
  position: relative;
  z-index: 1;
}
.pillTabs button.active {
  color: var(--lightColor);
}
.activeBackground {
  height: 100%;
  position: absolute;
  background: url("/crayonbg1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .pillTabs button {
    font-size: 1.3rem;
  }
}
