@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "CrayonEnFolieRegular";
  src:
    url("webFonts/CrayonEnFolieRegular/font.woff2") format("woff2"),
    url("webFonts/CrayonEnFolieRegular/font.woff") format("woff");
}

:root {
  font-size: 100%;
  --accentColor: #55c52c;
  --lightColor: #f7f4eb;
  --errorColor: #f05c38;
  --headingFont: "CrayonEnFolieRegular";
  --bodyFont: "Montserrat", sans-serif;
  --accentBorder: url("/border.png") 20 / 20px round;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url("/paper-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--bodyFont);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
}
img {
  max-width: 100%;
}
