.window {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  max-height: 1000px;
  padding: 15px 0;
}
.windowMain {
  border-image: var(--accentBorder);
  background: url("/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 20px 20px 20px;
  padding: 40px 15px 15px 15px;
}
.mainInner {
  position: relative;
  height: 100%;
}
.body:has(.window) {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}
.header {
  font-size: 2rem;
  text-align: center;
  color: var(--accentColor);
  background: url("/bg2.png");
}
.header h1 {
  margin: 0;
}
