.item img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.item {
  position: relative;
}
.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.item .link::before {
  border-image: var(--accentBorder);
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  transition: opacity 0.3s;
  opacity: 0;
}

.item .link:hover::before {
  opacity: 1;
}
.openItem {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  z-index: 5;
  padding: 15px;
}
.openItem img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}
.closeItem {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.closeItem:hover {
  opacity: 0.8;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}
