.card {
  padding: 15px;
  background: var(--lightColor);
  border-image: var(--accentBorder);
  border-radius: 20px;
  width: 100%;
}
body:has(.card) {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 15px;
  width: 100%;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
