.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 300px;
  gap: 20px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
@media only screen and (min-width: 768px) {
  .items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
