.project {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}
.title {
  margin: 0;
}
.project > .details {
  flex: 1;
  order: 2;
}
.project .thumbnail {
  position: relative;
  order: 1;
  width: 100%;
}
.thumbnail img {
  width: 100%;
  object-fit: contain;
  height: auto;
}
.tags {
  margin-top: 15px;
}
.actions {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .project {
    flex-direction: row;
    gap: 15px;
  }
  .project .thumbnail {
    order: 2;
    flex: 0 1 280px;
  }
  .project > .details {
    order: 1;
  }
}
