.photos {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  grid-auto-rows: 1fr;
  display: grid;
}
.photo {
  aspect-ratio: 1;
}
@media only screen and (min-width: 768px) {
  .photos {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
