.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.tag {
  background: url("/crayonbg2.svg");
  background-size: cover;
  color: var(--lightColor);
  padding: 5px 15px;
  border-radius: 50px;
}
